<%= h2 "Learn" %>

Believe it or not, but you can learn about Trailblazer step-wise! It's usually smart to start checking out operations, then form gems using Reform, and after that macros and Rails integration.

<%= h3 "Trailblazer Tales" %>

For a while we've been pushing very short 5-min videos teaching you how operations work, what testing looks like and which features they bring for your daily development.

<iframe class="mx-auto" width="560" height="315" src="https://www.youtube.com/embed/9elpobV4HSw?si=tDFD1Z1RX7yMwYb-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

Producing those instructional screencasts turned out to be a lot of fun (and a bit of work), so expect a new episode every few weeks. This is definitely much simpler than writing books!

Grab a coffee and watch the first few episodes to quickly grasp how to master this indispensable tool to structure your business logic.

<%= h3 "Books" %>

The [Trailblazer - A new architecture for Rails](https://leanpub.com/trailblazer) book from 2017 is very outdated and discusses Trailblazer 1.x!  However, the first two chapters are worth a read, if you want to pick up the spirit.

<a href="https://leanpub.com/trailblazer">
<%= image_tag "s_hero.webp" %>
</a>

It's free to download.


The [Building your own authentication library with Trailblazer](https://leanpub.com/buildalib) book, however, is up-to-date. It's missing part II which discusses Rails integration, but gives you a nice tour through operations.

<a href="https://leanpub.com/buildalib">
<%= image_tag "buildalib-cover.webp" %>
</a>

Everything discussed in the "Buildalib" book is also covered in our videos.

<%= h3 "Tutorials" %>

Here's the link to the ["Rails Basics" tutorial](https://ornate-heliotrope-1c15e2.netlify.app/2.1/docs/tutorials/activity#tutorials-quick-start-03-rails-basics).

We are revisiting our tutorial section in 2024.
