%footer.bg-bg-blue.py-16.text-white.text-center.text-base{ class: "lg:text-left" }
  %div{ class: "lg:flex justify-between w-11/12 max-w-[80rem] mx-auto" }
    %div{ class: "lg:flex lg:flex-col lg:justify-between" }
      = link_to root_path, class: "block shrink-0 w-fit mx-auto lg:mx-0" do
        = image_tag "logo_white.svg", class: "w-48"
      .hidden{ class: "lg:block" }
        2023 Trailblazer. All rights reserved
    %div{ class: "lg:flex lg:gap-20 xl:gap-40" }
      .flex.flex-col.gap-5.mt-15{ class: "lg:mt-0" }
        = link_to "Documentation", "#", class: "font-bold text-xl hover:scale-105"
        = link_to "About", "#", class: "hover:scale-105"
        = link_to "Community", "#", class: "hover:scale-105"
        = link_to "Blog", "#", class: "hover:scale-105"
        = link_to "Legal", "#", class: "hover:scale-105"
      .flex.flex-col.gap-5.mt-15{ class: "lg:mt-0" }
        = link_to "Products", "#", class: "font-bold text-xl hover:scale-105"
        = link_to "Trailblazer", "#", class: "hover:scale-105"
        = link_to "Trailblazer Pro", "#", class: "hover:scale-105"
        = link_to "Support", "#", class: "hover:scale-105"
      .flex.flex-col.gap-5.mt-15{ class: "lg:mt-0" }
        = link_to "Learn", "#", class: "font-bold text-xl hover:scale-105"
        = link_to "What is Trailblazer?", "#", class: "hover:scale-105"
        = link_to "Trailblazer PRO", "#", class: "hover:scale-105"
        = link_to "Tips and Tutorials", "#", class: "hover:scale-105"
        = link_to "Chat", "#", class: "hover:scale-105"
  .mt-15{ class: "lg:hidden" }
    2023 Trailblazer. All rights reserved
