%nav.bg-white.text-base.h-18{ class: "lg:flex lg:justify-between lg:items-center lg:h-[5.5rem] lg:px-[5.5rem]",
                              data: { controller: "hamburger-menu", "hamburger-menu-target": "navbar" } }
  = link_to root_path, class: "block shrink-0 w-fit mx-auto lg:mx-0" do
    = image_tag "logo_blue.svg", class: "w-40 my-3 lg:my-0"
  .absolute.right-4.top-2.flex.w-9.h-9.items-center{ class: "lg:hidden",
                                                     data: { "hamburger-menu-target": "hamburgerIcon",
                                                              action: "click->hamburger-menu#click" }}
    .hamburger-bars
  .flex.flex-col.text-center.hidden{ class: "lg:hidden", data: { "hamburger-menu-target": "navList" } }
    .flex.flex-col.mt-15.gap-10.uppercase{ class: "lg:absolute" }
      = link_to "Documentation", documentation_path, class: "nav-link"
      = link_to "Blog", blog_path, class: "nav-link"
      = link_to "About", about_path, class: "nav-link"
      = link_to "Community", "#", class: "nav-link"
      = link_to "Learn", "#", class: "nav-link"
      = link_to "Chat with us", "#", class: "nav-link"
  .hidden.gap-10.items-center{ class: "lg:flex" }
    .flex.gap-7
      = link_to "Documentation", documentation_path, class: "nav-link"
      = link_to "Blog", blog_path, class: "nav-link"
      = link_to "About", about_path, class: "nav-link"
      = link_to "Community", "#", class: "nav-link"
      = link_to "Learn", "#", class: "nav-link"
    = link_to "Chat with us", "#", class: "base-button text-base w-[12.5rem] h-[3.25rem] bg-light-purple text-blue hover:scale-105"
