<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title><%= head_title %></title>
    <meta content="width=device-width,initial-scale=1" name="viewport"/>
    <%#= csrf_meta_tags %>
    <%#= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font" %>
    <%= stylesheet_link_tag "application" %>
    <%= script_for_page_identifier %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
