<footer class="lg:text-left bg-bg-blue py-16 text-white text-center text-base">
  <div class="lg:flex justify-between w-11/12 max-w-[80rem] mx-auto">
    <div class="lg:flex lg:flex-col lg:justify-between">
      <a href="/2.1/" class="block shrink-0 w-fit mx-auto lg:mx-0" >
        <%= image_tag "logo_white.svg", class: "w-48" %>
      </a>
      <div class="lg:block hidden">
        © 2023 Trailblazer GmbH
      </div>
    </div>
    <div class="lg:flex lg:gap-20 xl:gap-40">
      <div class="lg:mt-0 flex flex-col gap-5 mt-15">
        <%= link_to "Documentation", "#", class: "font-bold text-xl hover:scale-105" %>
        <%= link_to "About", "#", class: "hover:scale-105" %>
        <%= link_to "Community", "#", class: "hover:scale-105" %>
        <%= link_to "Blog", "#", class: "hover:scale-105" %>
        <%= link_to "Legal", "#", class: "hover:scale-105" %>
      </div>
      <div class="lg:mt-0 flex flex-col gap-5 mt-15">
        <%= link_to "Products", "#", class: "font-bold text-xl hover:scale-105" %>
        <%= link_to "Trailblazer", "#", class: "hover:scale-105" %>
        <%= link_to "Trailblazer Pro", "#", class: "hover:scale-105" %>
        <%= link_to "Support", "#", class: "hover:scale-105" %>
      </div>
      <div class="lg:mt-0 flex flex-col gap-5 mt-15">
        <%= link_to "Learn", "#", class: "font-bold text-xl hover:scale-105" %>
        <%= link_to "What is Trailblazer?", "#", class: "hover:scale-105" %>
        <%= link_to "Trailblazer PRO", "#", class: "hover:scale-105" %>
        <%= link_to "Tips and Tutorials", "#", class: "hover:scale-105" %>
        <%= link_to "Chat", "#", class: "hover:scale-105" %>
      </div>
    </div>
  </div>
  <div class="lg:hidden mt-15">
    © 2023 Trailblazer GmbH
  </div>
</footer>
