<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Trailblazer</title>
    <meta content="width=device-width,initial-scale=1" name="viewport"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://unpkg.com/@highlightjs/cdn-assets@11.7.0/styles/atom-one-dark.min.css" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render Cell::Erb::Template.new("app/concepts/cell/application/navbar.erb") %>
    <%= yield %>
    <%= render Cell::Erb::Template.new("app/concepts/cell/application/footer.erb") %>
  </body>
</html>
