%section
  #sideNavShowButton.bg-bg-blue.text-white.fixed.left-0.top-20.pr-1.py-3.rounded-r{ class: "lg:hidden", style: "writing-mode: vertical-rl; text-orientation: upright;" }
    Chapters
  %div{ class: "lg:flex" }
    %nav#sideNav.documentation-side-nav
      #sideNavHideButton.absolute.right-4.top-4.text-3xl.text-white{ class: "lg:hidden" }
        X
      .p-10.pl-20.text-white.text-base.leading-10{ class: "lg:pt-0 lg:pl-6 xl:pl-20" }
        .flex.flex-col.pt-10
          =link_to "Subject A", "#", class: "font-bold pl-3 hover:scale-105"
          =link_to "Subject 01", "#", class: "pl-3 hover:scale-105"
          =link_to "Subject 02", "#", class: "pl-3 bg-selected hover:scale-105"
          =link_to "Subject 03", "#", class: "pl-3 hover:scale-105"
        .flex.flex-col.pt-5
          =link_to "Subject B", "#", class: "font-bold pl-3 hover:scale-105"
          =link_to "Subject 01", "#", class: "pl-3 hover:scale-105"
          =link_to "Subject 02", "#", class: "pl-3 hover:scale-105"
          =link_to "Subject 03", "#", class: "pl-3 hover:scale-105"
          =link_to "Subject 04", "#", class: "pl-3 hover:scale-105"
        .flex.flex-col.pt-5
          =link_to "Subject C", "#", class: "font-bold pl-3 hover:scale-105"
          =link_to "Subject 01", "#", class: "pl-3 hover:scale-105"
          =link_to "Subject 02", "#", class: "pl-3 hover:scale-105"
          =link_to "Subject 03", "#", class: "pl-3 hover:scale-105"
          =link_to "Subject 04", "#", class: "pl-3 hover:scale-105"
    .pl-8.pr-4.py-10.bg-light-grey.grow{ class: "lg:p-10" }
      %h1.text-2xl.text-blue.font-bold{ class: "lg:text-3xl" }
        %span.font-black
          TRAILBLAZER
        Documentation
      .text-base.leading-10
        %span.font-bold.text-bg-blue
          = "Subject A |"
        %span.text-purple
          Subject 02
      .mt-5{ class: "xl:flex xl:gap-0.5" }
        .p-4.bg-white.text-bg-blue{ class: "max-w-[57rem] lg:p-8 lg:pb-14" }
          %p
            This is an interactive prototype meant for documentation. We wanted to see if it is
            possible (and feasible) to create a documentation template in the same figma file.
            In this document we'll be discussing how to use this template.
          %h3.text-2xl.font-bold.text-neutral-500.lg:text-3xl.mt-6
            Quick Start
          %p.mt-2
            When you duplicate this file from community, select all the elements and copy-paste
            them into your design file. This way you can also copy the Master Components and use
            them however you like. You can also apply your own styles on Master Components to
            make it consistent with your design or leave it as it is.
          %div{ class: "rounded flex p-4 gap-4 mt-5 bg-bg-purple-1/50" }
            = image_tag "info_icon.svg"
            %p
              We will only show an example to showcase this template. Feel free to add your own
              creativity and share remixes in Figma Community.
          %h3.text-2xl.font-bold.text-neutral-500.lg:text-3xl.mt-7
            Navigation
          %p
            It's a standard documentation layout so you can expect it to behave the same.
            But for the sake of documentation 😁 and as example, let's take a look at how to navigate
            through this Figma file. For main navigation, you should update the Master Components.
          %p.mt-6
            We have a left side bar for main navigation. You can hover your mouse on them in Prototype Mode
            and click to navigate through the pages you have linked.
          %div{ class: "rounded flex p-4 gap-4 mt-5 bg-bg-orange" }
            = image_tag "light_bulb_icon.svg"
            %p
              We will only show an example to showcase this template. Feel free to add your own
              creativity and share remixes in Figma Community.
          = image_tag "code_placeholder_1", class: "mt-6"
          %h3.font-bold.text-neutral-500.lg:text-2xl.mt-2.text-xl
            Versions
          %p.mt-2
            You can see a dropdown in the header of this document. In case you are handling multiple documentations,
            you can use this dropdown to jump to another version. Don’t forget to update the main component
            %b Version Dropdown.
            If you don’t need it, just hide it in the main component.
          %div{ class: "rounded flex p-4 gap-4 mt-5 bg-bg-orange" }
            = image_tag "light_bulb_icon.svg"
            %p
              Create another page in the same figma file and set the interaction on dropdown elements of Version Dropdown to
              %b Open Link.
              Add
              %b URL of the prototype
              of this second page here. Now your another version will open in a new tab with that version of document
          %h3.text-2xl.font-bold.text-neutral-500.lg:text-3xl.mt-4
            Limitations
          %p.mt-2
            Since this is a Figma prototype and not actual website, it is bound to have some limitations.
          %ul.pl-8.list-disc.mt-4
            %li
              You cannot copy text in prototype mode which is a big no if you are adding coding blocks.
              To copy the actual code or any text, they need to go to actual design file and copy the text from there
            %li
              To get actual properties like text properties, padding, icons etc; developers still need to access the design file.
              
        .hidden.bg-white.pt-5.px-5.w-56.shrink-0.text-bg-blue{ class: "xl:block" }
          %h4.font-base.font-bold.leading-10.pl-2
            In diesem Artikel
          = link_to "Thema 01", "#", class: "documentation-right-nav-link mt-2"
          = link_to "Thema 02 zweizeilig mit Zeilenumbruch", "#", class: "documentation-right-nav-link bg-bg-orange"
          = link_to "Thema 03", "#", class: "documentation-right-nav-link"
          = link_to "Thema 04", "#", class: "documentation-right-nav-link"
          = link_to "Thema 05", "#", class: "documentation-right-nav-link"
          = link_to "Thema 06", "#", class: "documentation-right-nav-link"
          = link_to "Thema 07", "#", class: "documentation-right-nav-link"
          = link_to "Thema 08", "#", class: "documentation-right-nav-link"
          
          
%section.px-10.py-22.bg-bg-purple-3
  %h2.section-header.font-bold
    Is there anything unanswered?
    %br
    Get in touch with
    %span.font-black
      TRAILBLAZER
    = link_to "Chat with us", "#", class: "base-button bg-purple text-white mt-15 mx-auto"
