<div class="lg:pt-10 lg:pl-5 xl:pl-20 p-10 pl-20 text-white leading-10 space-y-1 h-full overflow-auto">
  <% separator_after = {3 => true, 9 => true}
      separator_class = "border-t-[1px] border-[#D6D4FB]"
  %>


  <% i = 0 %>
  <% iterate @book_headers, controller: @options[:controller] do |name, book_h1| %><%- next if book_h1.include_in_toc == false %>

    <div class="flex flex-col <%= separator_after[i] ? separator_class : nil %>">
      <div class="<%= expanded_items.any? ? 'bg-dark-purple' : '' %> flex items-center">
        <%= link_to %(#{book_h1.toc_title}), default_version_target, class: "pl-4 font-bold" %>

        <% if older_versions %>

          <% iterate older_versions, exec_context_class: MyIterateVersion do |v| %>
            <a href="<%= target %>" class="">
              <span class="h-5 text-[8pt] p-[3px] rounded-[6px] ml-3 <%= color_class %>">
                <%= version %>
              </span>
            </a>
          <% end %>

        <% end %>
      </div>


      <% expanded_items.each do |h2| %>
        <%#= link_to "##{h2.id}", class: "pl-8" do  %>
        <!-- FIXME: link should know its IDs. -->
        <div class="flex items-center" id="left-toc-<%= h2.id %>">
          <a href="<%= "##{h2.id}" %>" class="pl-8"><%= h2.title %></a>
        </div>
      <% end %>
    </div>

    <% i += 1 %>
  <% end %>
</div>

