<nav class="lg:flex lg:justify-between lg:items-center lg:h-[5.5rem] lg:px-[5.5rem] lg:z-30 text-base py-3 z-10 fixed w-full top-0" id="navbar">
  <a href="/2.1" class="block shrink-0 w-fit mx-auto lg:mx-0">
    <%= image_tag "logo_white.svg", class: "w-40 lg:my-0" %>
  </a>
  <div class="lg:hidden absolute right-4 top-2 flex w-9 h-9 items-center" id="hamburgerIcon">
    <div class="pointer-events-none w-full h-0.5 bg-white transition-all duration-150
                  before:content-[''] before:absolute before:w-full before:h-0.5 before:bg-white before:-translate-y-2.5 before:transition-all before:duration-150
                  after:content-[''] after:absolute after:w-full after:h-0.5 after:bg-white after:translate-y-2.5 after:transition-all after:duration-150"></div>
  </div>
  <div class="lg:hidden flex flex-col text-center hidden" id="navList">
    <div class="lg:absolute flex flex-col mt-15 gap-10 uppercase">
      <%= link_to "Documentation", "/2.1/docs", class: "font-medium text-base text-white uppercase hover:scale-110 lg:normal-case lg:font-semibold" %>
      <%= link_to "Blog", "/2.1/blog", class: "font-medium text-base text-white uppercase hover:scale-110 lg:normal-case lg:font-semibold" %>
      <%= link_to "About", "/2.1/about", class: "font-medium text-base text-white uppercase hover:scale-110 lg:normal-case lg:font-semibold" %>
      <%= link_to "Community", "#", class: "font-medium text-base text-white uppercase hover:scale-110 lg:normal-case lg:font-semibold" %>
      <%= link_to "Learn", "#", class: "font-medium text-base text-white uppercase hover:scale-110 lg:normal-case lg:font-semibold" %>
      <%= link_to "Chat", "#", class: "font-medium text-base text-white uppercase hover:scale-110 lg:normal-case lg:font-semibold" %>
    </div>
  </div>
  <div class="lg:flex hidden gap-10 items-center">
    <div class="flex gap-7">
      <%= link_to "Documentation", "/2.1/docs", class: "font-medium text-base text-white uppercase hover:scale-110 lg:normal-case lg:font-semibold" %>
      <%= link_to "Blog", "/2.1/blog", class: "font-medium text-base text-white uppercase hover:scale-110 lg:normal-case lg:font-semibold" %>
      <%= link_to "About", "/2.1/about", class: "font-medium text-base text-white uppercase hover:scale-110 lg:normal-case lg:font-semibold" %>
      <%= link_to "Community", "#", class: "font-medium text-base text-white uppercase hover:scale-110 lg:normal-case lg:font-semibold" %>
      <%= link_to "Learn", "#", class: "font-medium text-base text-white uppercase hover:scale-110 lg:normal-case lg:font-semibold" %>
    </div>
    <%= link_to "Chat", "#", class: "font-medium text-base text-white uppercase hover:scale-110 lg:normal-case lg:font-semibold" %>
  </div>
</nav>
