<div>
  <section class="bg-bg-grey">
    <div class="max-w-[80rem] lg:flex lg:justify-between lg:w-11/12 lg:pt-20 lg:pb-15 lg:gap-4 mobile-section-width mx-auto pt-12 pb-15">
      <div class="max-w-[28rem] mx-auto lg:max-w-[33rem] lg:mx-0">
        <h1 class="lg:text-6xl lg:leading-snug text-blue font-bold text-4xl leading-snug">
          Save time with
          <br/>
          <div class="lg:text-6xl flex uppercase font-black gap-3 items-center text-3xl">
            Trailblazer
            <span class="lg:h-[3.75rem] lg:w-[8.5rem] flex bg-blue text-white justify-center items-center rounded w-24 h-10">
              Pro
            </span>
          </div>
        </h1>
        <p class="lg:mt-8 lg:text-2xl mt-6 text-xl">
          Our web debugger is a life-saving tool that allows you to view traces, inspect <code class="text-purple font-bold">ctx</code> variables before and after steps, and much more.
        </p>
        <%= image_tag "code_placeholder_1.jpg", class: "mt-8 lg:hidden" %>
        <%= link_to "Learn more", "#", class: "base-button text-white bg-purple mt-10 lg:text-2xl" %>
      </div>
      <%= image_tag "pro-billo.png", class: "hidden lg:block w-1/2 max-w-[37.5rem] h-fit" %>
    </div>
  </section>
  <section class="bg-light-purple">
    <div class="section-content-wrapper">
      <h2 class="section-header text-blue">
        <span class="font-black">
          BPMN
        </span>
        <span class="font-bold">
          for Ruby
        </span>
      </h2>
      <p class="section-description">
        We do have a visual editor and a gem for you! And the best:
        <br/>
        You're supporting our
        <br class="lg:hidden"/>
        <span class="inline font-black">
          TRAILBLAZER development.
        </span>
      </p>
      <%= image_tag "code_placeholder_2", class: "rounded mt-10" %>
      <div class="mt-15 flex justify-center mt-10 gap-10">
        <%= link_to "Chat with us", "#", class: "base-button bg-white" %>
        <%= link_to "Join Pro", "#", class: "base-button text-white bg-purple" %>
      </div>
    </div>
  </section>
  <section class="bg-bg-blue">
    <div class="max-w-[63rem] section-content-wrapper">
      <h2 class="section-header text-white">
        <span class="font-black">
          TRAILBLAZER PRO
        </span>
        <br class="lg:hidden"/>
        in action
      </h2>
      <p class="text-xl section-description text-white text-lg">
        Benefit from
        <b>TRAILBLAZER PRO</b>
        features that speed up your code development
        <br class="lg:inline hidden"/>
        by simplified code snippets.
      </p>
      <div class="md:text-left md:flex-row md:gap-16 lg:gap-20 md:justify-between md:mt-[5.5rem] xl:relative xl:-left-[3rem] flex flex-col mt-16 text-center">
        <div class="md:max-w-[25rem] flex flex-col">
          <div class="text-white">
            <h3 class="lg:text-3xl font-bold text-2xl">
              Debugging can be fun!
            </h3>
            <p class="lg:text-lg lg:mt-5 mt-4">
              Our web debugger takes you up where {#wtf?} left off: browse through operation traces,
              inspect ctx variables at any time and fix bugs within minutes, not hours.
            </p>
            <%= link_to "Watch Intro Tutorial", "#", class: "base-button text-bg-blue bg-light-purple mt-10 mx-auto md:text-xl md:mx-0" %>
          </div>
        </div>
        <%= image_tag "code_placeholder_3.jpg", class: "w-full h-fit mt-10 mx-auto max-w-[22rem] lg:max-w-[26.25rem] md:mt-0 md:mx-0" %>
      </div>
      <div class="md:text-left md:flex-row md:gap-16 lg:gap-20 md:justify-between md:mt-[5.5rem] xl:relative xl:-left-[3rem] flex flex-col mt-16 text-center">
        <div class="md:max-w-[25rem] md:order-2 xl:relative xl:-left-[1.25rem] flex flex-col">
          <div class="text-white">
            <h3 class="lg:text-3xl font-bold text-2xl">
              Start drawing, stop overthinking!
            </h3>
            <p class="lg:text-lg lg:mt-5 mt-4">
              We're bringing the industry-standard language BPMN to Ruby! Model complex, long-running business processes
              with our web editor and let {trailblazer-workflow} do the flow control.
            </p>
            <%= link_to "Watch BPMN Tutorial", "#", class: "base-button text-bg-blue bg-light-purple mt-10 mx-auto md:text-xl md:mx-0" %>
          </div>
        </div>
        <%= image_tag "code_placeholder_3.jpg", class: "w-full h-fit mt-10 mx-auto max-w-[22rem] lg:max-w-[26.25rem] md:mt-0 md:mx-0" %>
      </div>
      <div class="md:text-left md:flex-row md:gap-16 lg:gap-20 md:justify-between md:mt-[5.5rem] xl:relative xl:-left-[3rem] flex flex-col mt-16 text-center">
        <div class="md:max-w-[25rem] flex flex-col">
          <div class="text-white">
            <h3 class="lg:text-3xl font-bold text-2xl">
              It's ready!
            </h3>
            <p class="lg:text-lg lg:mt-5 mt-4">
              Sign up for free, check out how to leverage BPMN and our diagram editor in your Ruby code, and trace your
              code on the web. Then you decide how much PRO you need.
            </p>
            <%= link_to "Watch Diagram Tutorial", "#", class: "base-button text-bg-blue bg-light-purple mt-10 mx-auto md:text-xl md:mx-0" %>
          </div>
        </div>
        <%= image_tag "code_placeholder_3.jpg", class: "w-full h-fit mt-10 mx-auto max-w-[22rem] lg:max-w-[26.25rem] md:mt-0 md:mx-0" %>
      </div>
    </div>
  </section>
  <section class="bg-bg-grey overflow-x-hidden relative">
    <div class="max-w-[68rem] section-content-wrapper">
      <div class="max-w-[40rem]">
        <h2 class="section-header font-bold text-bg-blue text-left">
          Future insights
        </h2>
        <div class="bg-purple w-12 h-1 rounded mt-7"></div>
        <p class="lg:text-lg mt-7">
          dfsdf
          <br/>
        </p>
        <p class="mt-8">
          asdfasdfasfasfafsdf
        </p>
        <ul>
          <li class="list-image-[url('list-circle-full.svg')] ml-10">
            asdfasdfasdf
          </li>
          <li class="list-image-[url('list-circle-full.svg')] ml-10">
            asdfasdfaf
          </li>
          <li class="list-image-[url('list-circle-full.svg')] ml-10">
            asfdasdfasdfadfasdf
          </li>
          <li class="list-image-[url('list-circle-full.svg')] ml-10">
            asdfasdfasdfasdf
          </li>
          <li class="list-image-[url('list-circle-full.svg')] ml-10">
            asdfasdfasdfasfsafs
          </li>
        </ul>
        <p class="mt-7">
          asdfasdfasdfsdfasdfasdfs
        </p>
      </div>
      <%= image_tag "code_placeholder_2.png", class: "hidden lg:block rounded relative h-[29rem] bottom-[29rem] left-[54rem] -mb-[29rem]" %>
    </div>
  </section>
  <section>
    <div class="max-w-[67.5rem] section-content-wrapper">
      <h2 class="section-header text-bg-blue font-bold">
        Plans for you and your team
      </h2>
      <div class="bg-purple w-12 h-1 rounded mt-8 mx-auto"></div>
      <p class="section-description text-bg-blue mt-8">
        With our scalable packages, you can pay for what you need and leave out what
      </p>
      <div class="lg:flex-row flex flex-col gap-15 mt-15">
        <div class="w-[84vw] max-w-[20rem] rounded border border-purple pt-7 pb-10 text-center mx-auto flex flex-col justify-between">
          <div>
            <div class="text-2xl text-purple-text font-black">
              Free
            </div>
            <div class="mt-2 text-5xl font-black">
              0 EUR
            </div>
            <ul class="text-left text-sm ml-16 mr-4 mt-2">
              <li class="list-checkmark">
                1 user 1 connected calendar
              </li>
              <li class="list-checkmark">
                Up to 12 responses
              </li>
              <li class="list-checkmark">
                Up to 3 survey results archived
              </li>
              <li class="list-checkmark">
                Knowledge base
              </li>
            </ul>
          </div>
          <%= link_to "Join Free", "#", class: "base-button bg-purple text-white mx-auto mt-10 w-60 h-14 lg:text-xl" %>
        </div>
        <div class="w-[84vw] max-w-[20rem] rounded border border-purple pt-7 pb-10 text-center mx-auto flex flex-col justify-between">
          <div>
            <div class="text-2xl text-purple-text font-black">
              Freelancer
            </div>
            <div class="mt-2 text-5xl font-black">
              12 EUR
            </div>
            <ul class="text-left text-sm ml-16 mr-4 mt-2">
              <li class="list-checkmark">
                1 user 1 connected calendar
              </li>
              <li class="list-checkmark">
                Up to 12 responses
              </li>
              <li class="list-checkmark">
                Up to 3 survey results archived
              </li>
              <li class="list-checkmark">
                Knowledge base
              </li>
            </ul>
          </div>
          <%= link_to "Join Freelancer", "#", class: "base-button bg-purple text-white mx-auto mt-10 w-60 h-14 lg:text-xl" %>
        </div>
        <div class="w-[84vw] max-w-[20rem] rounded border border-purple pt-7 pb-10 text-center mx-auto flex flex-col justify-between bg-dark-blue">
          <div class="text-white">
            <div class="text-2xl text-purple-text font-black">
              Team
            </div>
            <div class="mt-2 text-5xl font-black">
              49 EUR
            </div>
            <ul class="text-left text-sm ml-16 mr-4 mt-2">
              <li class="list-white-checkmark">
                Per user in company domain with single calender integrations
              </li>
              <li class="list-white-checkmark">
                Unlimited responses
              </li>
              <li class="list-white-checkmark">
                Unlimited survey results archived
              </li>
              <li class="list-white-checkmark">
                Priority email & chat
              </li>
            </ul>
          </div>
          <%= link_to "Join Team", "#", class: "base-button bg-purple text-white mx-auto mt-10 w-60 h-14 lg:text-xl" %>
        </div>
      </div>
    </div>
  </section>
  <%= render Cell::Erb::Template.new("app/concepts/cell/application/chat_with_us.erb") %>

